datetime==2.8.1
time==3.12.0
pyradios==0.3.1
Flask==2.2.3
os-sys==3.1.1
requests==2.28.2
python-dotenv==1.0.0
google-generativeai==0.6.0
random==3.10.0
deep-translator==1.9.1
collections==3.6.0
pytz==2023.3
feedparser==6.0.10
sqlite3==2.6.0
io==0.2.0
base64==4.0.0
numpy==1.24.2
matplotlib==3.7.1
lyricsgenius==2.1.1