
<footer>
    <div class="footer-container">
        <p>&copy; 2025 Actu Web. Tous droits réservés.</p>

        <p>Contact : <a href="mailto:benechenelson@gmail.com">benechenelson@gmail.com</a></p>

        <div class="social-links">
            <a href="https://facebook.com/Nelson Beneche" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com/Beneche1992Ing" target="_blank">Instagram</a>
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>
