<footer>
  <div class="footer-container">
    <h2>Actu Web</h2>
    <p>
      Actu Web est un site qui vous offre : les dernières <strong>actualités politiques</strong>,
      les <strong>résultats sportifs</strong> et classements des <strong>5 grands championnats européens</strong>.
      Vous pouvez aussi <strong>écouter des musiques en ligne</strong>, profiter de la <strong>radio</strong>,
      regarder des <strong>chaînes TV</strong>, consulter la <strong>météo</strong>,
      discuter avec <strong>Gemini</strong> directement depuis le site,
    et suivre les <strong>actualités santé</strong> et <strong>technologies</strong>.
    </p>

    <div class="social-links">
      <a href="https://facebook.com/Nelson Beneche" target="_blank">Facebook</a>
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://instagram.com/Beneche1992Ing" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div>

    <p class="copy">&copy; {{year}} Actu Web. Tous droits réservés.</p>
  </div>
</footer>
