{% extends 'base.html' %}

{% block title %}Actu Web: Politiques, Sports, Sante, Musiques, Resultats matchs.... {% endblock %}

{% block link %}
<link rel="icon" href="{{ url_for('static', filename='images/actuweb.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/actuweb.png') }}" type="image/png">
{% endblock %}




{% block description %}
Actu Web est un site qui vous offre : les dernières actualités politiques,
les résultats sportifs et classements des 5 grands championnats européens.
Vous pouvez aussi écouter des musiques en ligne, profiter de la radio, regarder des chaînes TV, consulter la météo,
discuter avec Gemini directement depuis le site, et suivre les actualités santé et technologies.

{% endblock %}

{% block og_description %}
Actu Web est un site qui vous offre : les dernières actualités politiques, les résultats sportifs, regarder des chaines tv,
consulter la météo, ecouter des musiques et classements des 5 grands championnats européens.
{% endblock %}

{% block og_title %}
Actu Web: Politiques, Sports, Santé, Musiques, Resultats matchs..
{% endblock %}

{% block og_url %}
    {{request.url}}
{% endblock %}

{% block og_image %}
{{url_for('static', filename='images/actuweb.png', _external=True)}}
{% endblock %}


{% block content %}
<style>


.error {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    text-align:center;
}

.error p {
    margin-bottom: 8px;
    color: #555;
}

.suma {
    font-family:arial;
    text-align:center;
}
</style>


        <h2>📰 Actualités</h2>
  {% if articles %}
            <div class="actualites-container">
            {% for article in articles %}
                <div class="article-card">
                     <img src="{{article.image}}" alt="image de l'articles">
                     <h3><a href="{{article.link}}" target="_blank">{{article.title}}</a></h3>
                    <div class="suma"><a>{{article.summary|safe}}</a></div>
                    <h4><a>Date de Publication: {{article.published}}</a></h4>
                 </div>
            {% endfor %}
            </div>

{% else %}
    <div class="error">
        <p>Aucune donnée disponible.</p>
    </div>
{% endif %}
{% endblock %}